name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Go Unit Tests (Go ${{ matrix.go-version }})
    runs-on: macos-latest
    strategy:
      matrix:
        go-version: ['1.24', '1.25', '1.26']

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      
      - name: Download dependencies
        run: go mod download
      
      - name: Run tests
        run: go test -v -race -coverprofile=coverage.out ./...
      
      - name: Display coverage
        run: go tool cover -func=coverage.out
